@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

body {
  margin: 0;
  /* background: rgb(1, 1, 10); */
  font-family: 'Shantell Sans', cursive;
}

.front__view {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front__view {
transform: rotateY(0deg);
}

.back__view {
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}

.flipped .back__view {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
